/build/

/dict/SKK-JISYO.L
/dict/migemo-dict
/dict/*.d/

/libmigemo.so
/libmigemo.so.1
/libmigemo.so.1.1.0

/src/testdir/profile.log
/src/testdir/qspeed
/src/testdir/qspeed.exe
/src/testdir/romaji
/src/testdir/romaji.exe

/test/test_migemo
/test/test_migemo.exe

/tags
/tmp/

gmon.out
